.customLoader {
  width: 50px;
  height: 50px;
  display: grid;
  animation: s4 4s infinite;
}
.customLoader::before,
.customLoader::after {
  content: "";
  grid-area: 1/1;
  border: 8px solid;
  border-radius: 50%;
  border-color: #6b877f #6b877f #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.customLoader::after {
  border-color: #0000 #0000 #e4e4ed #e4e4ed;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
