.headerContainer {
  background-color: #2a363f;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.searchbar {
  border: 1px solid #9ba7a5;
  border-radius: 5px;
  color: #f6f8f7;
  font-weight: 500;
  height: 25px;
  width: 600px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: transparent;
}

.searchbar::placeholder {
  color: #9ba7a5;
  font-weight: 400;
}

.searchbar:hover {
  border: 1px solid #6ed9a0;
  transition: border 0.3s ease-in-out;
}

.searchbar:focus {
  border: 1px solid #6ed9a0;
  outline: none;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBtn {
  width: 100px;
  //   margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #6b877f;
  border-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.searchBtn:hover {
  transition: 0.5s ease-in-out;
  background-color: #5c7f75;
}
