.btn {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  border: none;
  background-color: #3b37fe;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #2723ff;
}
